<div class="container">
  <nav class="navbar navbar-light bg-info">
    Task List
    <span style="left: 90%" (click)="sair()" >Sair</span>
  </nav>




  <form [formGroup]="form" (ngSubmit)="save()" style="margin-top: 3%">
    <div class="form-group">
      <div class="row">
        <div class="col-md-11">
          <input type="text" formControlName="description" style="width: 104%" class="form-control" id="task" placeholder="Enter task">
        </div>
        <div class="col-md-1" >
          <button class="btn btn-primary" style="margin-left: 20px" type="submit">+</button>
        </div>
      </div>
    </div>

  </form>



  <div class="list-group" >
    <div class="list-group-item list-group-item-action list-group-item-light" style="position: relative"
         *ngFor="let task of taskList" >
      <span class="col-md-10" [ngStyle] = " {'text-decoration-line': task.finished ? 'line-through':'none'}">{{task.description}}</span>
      <span class="col-md-3"  style="position: absolute; left: 80%; bottom: 20%">
        <button class="btn btn-danger" (click)="delete(task)" style="margin-left: 10px">✘</button>
        <button class="btn btn-confirm" (click)="finish(task)" style="margin-left: 20px">✔</button>
      </span>
    </div>
  </div>
</div>
